/* ========== Componentes Generales ========== */
  
  .Espannol{
    position: fixed;
    top: 5px;
    right: 15px;
    background-color: #FFF;
  }

  /* ========== Conteneedor Grip de 2 ========== */
    .Grid-2{
      width: 80%;
      margin-left: 10%;
      display: grid;
      grid-template-columns:  1fr 1fr ;
      grid-gap: 30px;   

    }

    .Grid-2-Botones{
      display: grid;
      grid-template-columns:  1fr 1fr ;
      grid-gap: 30px; 
      justify-items: center;

    }

    .grid-Proyecto{
        grid-template-columns:  1fr 2fr ;
        width: 100%;
        margin-left: 0%;

    }


    @media only screen and (max-width: 1100px) {
      .Grid-2{
        grid-template-columns: 1fr; 
      }
    }


/* ========== BtnInteractivo ========== */
  .a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #6580CE;
    border: 2px solid #09B4D3;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }

  .a span{
    position: relative;
    z-index: 2;
  }

  .a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(45deg , #09B4D3, #6580CE);
    transition: all .35s;
  }

  .a:hover{
    color: #fff;
  }

  .a:hover:after{
    width: 100%;
  }


  .imgProyecto{
    
    width: 100%;
    max-width: 400px;
    min-width: 400px;

    border: 3px solid;
    border-image-source: linear-gradient(45deg, #09B4D3, #6580CE);
    border-image-slice: 1;
    transition: 1s;
    margin-top: 5px; 
  }

  .imgProyecto:hover{
    transform: scale(1.1);
    box-shadow: 0 0 3px 3px #09B4D3,0 0 5px 5px #6580CE;

  }

  .miBtn{
    border-color: #F5F5F6;
    transition: 1s;
  }

  .miBtn:hover{
    background-color: #F5F5F6;
  }
  .icono{
    width: 35px;
    height: 35px;
  }